<html>
<head>
<title>Image Augmentation as a Service</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Python Flask Upload and display image</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
            <p>
                <input type="checkbox" id="grayscale" name="augmentation" value="grayscale">
                <label for="grayscale">Grayscale Augmentation</label><br>
                <input type="checkbox" id="gaussianblur" name="augmentation" value="gaussian-blur">
                <label for="gaussianblur">Gaussian-Blur Augmentation</label><br>
                <input type="checkbox" id="sharpen" name="augmentation" value="sharpen">
                <label for="sharpen">Sharpen Augmentation</label><br>
                <input type="checkbox" id="multiply_brightness" name="augmentation" value="multiply_brightness">
                <label for="multiply_brightness">Multiply Brightness Augmentation</label><br>
                <input type="checkbox" id="change_color_temp" name="augmentation" value="change_color_temp">
                <label for="change_color_temp">Change Color Temp Augmentation</label><br>
                <input type="checkbox" id="flip" name="augmentation" value="flip">
                <label for="flip">Flip Augmentation</label><br>
            </p>

            <p>
                <input type="radio" id="single" name="aug_seq" value="single">
                <label for="single">Single Augmentation</label><br>
                <input type="radio" id="chain" name="aug_seq" value="chain">
                <label for="chain">Chain Augmentation</label><br>
            </p>

            <p>
                <input type="text" id="callback" name="discord_callback">
                <label for="callback">Discord webhook link</label><br>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html>